<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dev>
            <ho_template_hint>
                <port>63342</port>
            </ho_template_hint>
        </dev>
    </default>
</config>
