<?xml version="1.0"?>
<!--
  ~ Copyright © 2017 H&O E-commerce specialisten B.V. (http://www.h-o.nl/)
  ~ See LICENSE.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Ho_Templatehints" setup_version="0.2.3"/>
</config>
